# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [31]:
# Import your libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
load_diabetes = datasets.load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:
load_diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
print(load_diabetes.DESCR)

'''
Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level
'''

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

'\nAttribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n'

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [5]:
# Your code here:
load_diabetes.data.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [6]:
# Your code here:
from sklearn.linear_model import LinearRegression

Initialize the model in the variable `diabetes_model`

In [7]:
# Your code here:
X = load_diabetes.data
y = load_diabetes.target
diabetes_model = LinearRegression().fit(X,y)

In the cell below, fit the model and print the intercept and coefficients of the model.

In [8]:
# Your code here:

print(diabetes_model.intercept_)
print(diabetes_model.coef_)

152.1334841628965
[ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [9]:
# Your code here:
import statsmodels.api as sm

X = sm.add_constant(X)
y = y

model = sm.OLS(y,X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Mon, 07 Mar 2022   Prob (F-statistic):           3.83e-62
Time:                        16:45:25   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        152.1335      2.576     59.061      0.000     147.071     157.196
x1           -10.0122     59.749     -0.168      0.867    -127.448     107.424
x2          -239.8191     61.222     -3.917      0.000    -360.151    -119.488
x3           519.8398     66.534      7.813      0.000     389.069     650.610
x4           324.3904     65.422      4.958      0.000     195.805     452.976
x5          -792.1842    416.684     -1.901      0.058   -1611.169      26.801
x6           476.7458    339.035      1.406      0.160    -189.621    1143.113
x7           101.0446    212.533      0.475      0.635    -316.685     518.774
x8           177.0642    161.476      1.097      0.273    -140.313     494.442
x9           751.2793    171.902      4.370      0.000     413.409    1089.150
x10           67.6254     65.984      1.025      0.306     -62.065     197.316
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [10]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [11]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [12]:
# Your code here:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

What is the newest model year and the oldest model year?

In [13]:
# Your code here:
auto.describe()['model_year'].loc[['min','max']]

min    70.0
max    82.0
Name: model_year, dtype: float64

Check the dataset for missing values and remove all rows containing at least one missing value.

In [14]:
# Your code here:

auto.isnull().sum()

auto.drop(auto[auto['horse_power'].isnull()].index, inplace=True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [15]:
# Your code here:
auto['cylinders'].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [16]:
# Import the necessary function
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

auto.drop(columns='car_name', inplace= True)

In [17]:
# Your code here:
auto.columns != 'mpg'
y = auto.mpg
X = auto.drop(columns='mpg')

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [18]:
# Your code here:

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state= 20 )
linreg = LinearRegression()

Next, fit the model in the cell below.

In [19]:
# Your code here:

#X_test.drop(columns = 'Prediccion', inplace = True)
#y_test.drop('Prediccion', inplace = True)
linreg = linreg.fit(X_train,y_train)
linreg.predict(X_test)

y_data_test = pd.DataFrame(y_test)
y_data_test['prediccion'] = linreg.predict(X_test)
#y_test['Prediccion'] = linreg.predict(X_test)

y_data_test

      mpg  prediccion
10   15.0   15.221886
293  31.9   32.505735
116  16.0   12.375104
302  34.5   31.175558
17   21.0   21.666476
..    ...         ...
131  32.0   29.608308
396  28.0   30.436737
371  29.0   31.098610
28    9.0    6.847095
92   13.0   11.944365

[79 rows x 2 columns]

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [20]:
# Import the necessary function:
from sklearn.metrics import r2_score

In [21]:
# Your code here:
r2_score(y_data_test['mpg'], y_data_test['prediccion'])

0.8438088008257651

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [22]:
# Your code here:
linreg.predict(X_test)

y_data_test = pd.DataFrame(y_test)
y_data_test['prediccion'] = linreg.predict(X_test)
y_data_test

      mpg  prediccion
10   15.0   15.221886
293  31.9   32.505735
116  16.0   12.375104
302  34.5   31.175558
17   21.0   21.666476
..    ...         ...
131  32.0   29.608308
396  28.0   30.436737
371  29.0   31.098610
28    9.0    6.847095
92   13.0   11.944365

[79 rows x 2 columns]

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [32]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X,y, test_size=0.1, random_state= 20 )

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [33]:
# Your code here:
auto_model09 = LinearRegression()
auto_model09.fit(X_train09,y_train09)

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [36]:
# Your code here:
print(auto_model09.score(X_test09,y_test09))
print(auto_model09.predict(X_test09))

0.8358353589867921
[15.28884015 32.46938756 12.48352207 31.09575397 21.6811748  32.74221739
 33.79661398 21.6177986  30.88300595 14.86233294 25.14339302 18.88403838
 32.13666004 20.68136912 15.56571958 26.27946787 22.29932248 23.54671896
 24.72324433 13.24806262  8.38966483 12.64059401 17.6534386  10.3819799
 12.56610987 31.2719032  19.88758991 21.99418854 32.89314374  9.97995879
 18.00226624 26.44980105 18.95595816 31.84610519 25.09645283 30.35486355
 19.88071089 29.63848245 33.2029121  23.16488351]

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [26]:
# Your code here:
print(auto_model09.score(X_test09,y_test09))
#no there is a miss improvement since using X_test with 80 is has a better score with 0.8438088008257651 (0.01 greater)

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [37]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [39]:
# Your code here:
estimator = LinearRegression()
auto_model = RFE(estimator, n_features_to_select=3)

Fit the model and print the ranking

In [44]:
# Your code here:
auto_model.fit(X_train09, y_train09)
print(auto_model.ranking_)
print(auto_model.get_feature_names_out())
X_train09

[1 2 4 3 1 1]
['cylinders' 'acceleration' 'model_year']

     cylinders  displacement  horse_power  weight  acceleration  model_year
181          4          91.0         53.0    1795          17.5          75
62           8         350.0        165.0    4274          12.0          72
118          4         116.0         75.0    2158          15.5          73
111          3          70.0         90.0    2124          13.5          73
229          8         400.0        180.0    4220          11.1          77
..         ...           ...          ...     ...           ...         ...
334          3          70.0        100.0    2420          12.5          80
220          4          85.0         70.0    1945          16.8          77
225          6         250.0        110.0    3520          16.4          77
273          4         119.0         97.0    2405          14.9          78
360          6         145.0         76.0    3160          19.6          81

[352 rows x 6 columns]

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [48]:
# Your code here:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X,y, test_size=0.2, random_state=20)

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [49]:
# Your code here: 
estimator = LinearRegression()
auto_model_reduced = RFE(estimator, n_features_to_select=3)
auto_model_reduced.fit(X_train_reduced,y_train_reduced)
auto_model_reduced.score(X_test_reduced,y_test_reduced)

0.7655574178392307

In [ ]:
#it was worst since normal linear regression has a greater score than uysing RFE method